In [6]:
import pandas as pd
pd.set_option("display.max_columns", None)
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from numerize import numerize
import missingno as mso # missging values visualization

# Preprocessing
from sklearn.model_selection import train_test_split as tts
from sklearn.preprocessing import StandardScaler
from sklearn.compose import ColumnTransformer

# Models
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier
from catboost import CatBoostClassifier

# Metrics
from sklearn.metrics import accuracy_score, recall_score
from sklearn.metrics import fbeta_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

# Time
import time

# Stats
from scipy.stats import norm
from scipy.stats import shapiro
from statsmodels.graphics.gofplots import qqplot

# Warnings
import warnings
warnings.filterwarnings("ignore")


from zipfile import ZipFile
import zipfile

In [3]:
#Zipping File

with zipfile.ZipFile('archive.zip', 'r') as zip_ref:
    zip_ref.extractall('D:\\vscode\\Fortnite-Statistic')

In [4]:
df=pd.read_csv(r'D:\vscode\Fortnite-Statistic\Fortnite Statistics.csv')

In [5]:
df.head()

,Date,Time of Day,Placed,Mental State,Eliminations,Assists,Revives,Accuracy,Hits,Head Shots,Distance Traveled,Materials Gathered,Materials Used,Damage Taken,Damage to Players,Damage to Structures
0,4/10,6:00 PM,27,sober,2,0,0,23%,14,2,271.08,20,20,272,331,621
1,4/10,6:00 PM,45,sober,1,2,0,30%,19,1,396.73,123,30,247,444,998
2,4/10,6:00 PM,38,high,3,0,0,30%,32,1,607.80,71,60,176,322,1109
3,4/10,7:00 PM,30,high,1,3,0,18%,19,1,714.16,244,10,238,330,4726
4,4/10,7:00 PM,16,high,3,1,1,58%,42,18,1140.00,584,150,365,668,2070

In [11]:
print("==="*25)
print("Data Information")
print("==="*25)
print(df.info())

===========================================================================
Data Information
===========================================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  87 non-null     object
 1   Time of Day           87 non-null     object
 2   Placed                87 non-null     int64
 3   Mental State          87 non-null     object
 4   Eliminations          87 non-null     int64
 5   Assists               87 non-null     int64
 6   Revives               87 non-null     int64
 7   Accuracy              87 non-null     object
 8   Hits                  87 non-null     int64
 9   Head Shots            87 non-null     int64
 10  Distance Traveled     87 non-null     float64
 11  Materials Gathered    87 non-null     int64
 12  Materials Used        87 non-null     int64
 13  Damage Taken          87 non-null     int64
 14  Damage to Players     87 non-null     int64
 15  Damage to Structures  87 non-null     int64
dtypes: float64(1), int64(11), object(4)
memory usage: 11.0+ KB
None

*We have to convert few columns into their original Dtypes*

In [16]:
print("==="*25)
print("Checking Data has null values or not")
print("==="*25)
print(df.isnull().sum())

===========================================================================
Checking Data has null values or not
===========================================================================
Date                    0
Time of Day             0
Placed                  0
Mental State            0
Eliminations            0
Assists                 0
Revives                 0
Accuracy                0
Hits                    0
Head Shots              0
Distance Traveled       0
Materials Gathered      0
Materials Used          0
Damage Taken            0
Damage to Players       0
Damage to Structures    0
dtype: int64

*Data don't have null Values*